@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@1,200&display=swap');



header {
  width: 100%; 
  height: 10vw; 
  background-color: #333533;
  font-family: 'Archivo Black', sans-serif;
  color: #ffffff;
}

a{
  color: #F5F1ED !important;
}

.estilo-h1{
  font-family: 'Archivo Black', sans-serif;
}

#logoPng{
  width: 15%;
  height: 100%;
}

.logo img{
  width: 11vw;
  height: 10vw;
}

.menu-button {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 100%;
}


.menu {
  display: flex;
  list-style: none;
  margin: 0;
  width: 150vh;
  justify-content: space-around;
}



.header-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 2vw;
}

.profile{
  width: 20vh;
}

.staff-grid {
  background-color: #333533;
  border-radius: 10px;
  border: 2px solid #252323;
  color: #ffffff;
  font-family: 'Archivo Black', sans-serif;
  padding: 20px;
  height: 25vh;
  width: 40vh;
  display: flex;
  align-items: center;

}

.club.name{
  display: flex;
  justify-content: center;
}

.club-card{
  background-color: #333533;
  border-radius: 10px;
  border: 2px solid #252323;
  color: #ffffff;
  font-family: 'Archivo Black', sans-serif;
  height: 20vw;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.club-card h2{
  font-size: 2vw;
}

.club-card div{
  height: 80%;
}



.staff-grid h2 {
  margin-top: 0;
}

.staff-grid img {
  max-width: 100%;
}

.roster-container {
  height: 100%;
  background-color: #DAD2BC;
  display: flex;
  flex-direction: column;
}

.roster-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 4fr));
  grid-gap: 15vh;
  width: 90%;
  margin-left: 4%;
}

.roster-grid-golden {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 4fr));
  grid-gap: 15vh;
  width: 90%;
  margin-left: 4%;
  margin-top: 4%;
}



.settings-menu {

  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1%;
}

.buttons {
  background-color: transparent !important;
  border: transparent;
  font-size: 5vh;
  cursor: pointer;
}

.bi-person-circle{
  color: white;
  font-size: 8vh;
}

.user-info{
  display: flex;
  flex-direction: column;
}

.user-photo {
  width: 20vh;
  height: 20vh;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.user-name {
  font-size: 2.5vh;
  margin: 0;
}

.user-club {
  font-size: 2vh;
  margin-top: 2%;
  color: #999;
}

.tarjeta-staff,.tarjeta-club{
  cursor: pointer;
  text-decoration: none;
  height: 20vh;
  width: 5vw;
}


.jugador-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.roster-page{
  height: 100%;
  width: 100%;
  background-color: #DAD2BC;
  display:flex;
  flex-wrap:wrap;
}

.roster-nombre{
  width: 100%;
  height: 5vw;
  display: flex;
  justify-content: center;
  color: #252323;
  font-family: 'Archivo Black', sans-serif;
  font-size: 4vw;
  margin-top: 2%;
}

.roster-foto{
  height: 80%;
  width: 30%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.roster-foto img{
  height: 70%;
  width: 90%;
  border: solid black;
}

.roster-redes-sociales{
  margin-top: 1%;
  width: 90%;
  height: 10vw;
  border-radius: 63px 63px 63px 63px;
  -moz-border-radius: 63px 63px 63px 63px;
  -webkit-border-radius: 63px 63px 63px 63px;
  border: 0.5vh solid black;
  background-color: #333533;
}

.roster-redes-sociales h3{
  display: flex;
  justify-content: center;
  color: #DAD2BC;
  font-family: 'Archivo Black', sans-serif;
  font-size: 1.5vw;
  margin-top: 1%;
}

.roster-redes-sociales ul{
  list-style: none;
  margin-top:6%;
}

.roster-redes-sociales ul li{
  color: white;
  font-family: 'Archivo', sans-serif;
  margin-top: 2%;
  font-size: 0.8vw;
  height: 2vw;
}

.roster-info{
  height: 80%;
  width: 55%;
  border-radius: 63px 63px 63px 63px;
  -moz-border-radius: 63px 63px 63px 63px;
  -webkit-border-radius: 63px 63px 63px 63px;
  background-color: #A99985;
}

.roster-info{
  height: 80%;
  width: 55%;
  border-radius: 63px 63px 63px 63px;
  -moz-border-radius: 63px 63px 63px 63px;
  -webkit-border-radius: 63px 63px 63px 63px;
  background-color: #A99985;
}

.roster-info h3{
  display: flex;
  justify-content: center;
  color: #F5F1ED;
  font-family: 'Archivo Black', sans-serif;
  margin-top: 3%;
  font-size: 2vw;
}

.roster-info ul li{
  margin-top: 2%;
  font-size: 1.8vw;
}

.botones{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 15%;
}

.botones i{
  font-size: 10vh;
}

.botones button{
  margin-bottom: 10%;
}

.name-club {
  font-size: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Archivo Black', sans-serif;
}

.club-logo {
  width: 90%;
  height: 70%;
}


.clubs-grid {
  margin-top: 2%;
  margin-left: 10%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 4fr));
  grid-gap: 15vh;
  width: 90%;
}

.club {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.club-header {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 2rem;
  background-color: #DAD2BC;
}

.logo-club {
  width: 35%;
  height: 100%;
  object-fit: contain;
}



.club-content {
  padding: 2rem;
}

.club-content h2{
  font-family: 'Archivo Black', sans-serif;
  text-decoration: underline;
}

.club-roster {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.club-roster li {
  flex-basis: 100%;
  margin-bottom: 2rem;
}

.club-roster h3 {
  font-size: 1.5rem;
}

.club-roster ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.club-roster li:last-child {
  margin-bottom: 0;
}

.club{
  display: flex;
  justify-content: flex-start;
}

.lista-roster h3{
  display: flex;
  justify-content: center;
  font-family: 'Archivo Black', sans-serif;
}

.lista-roster ul{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.lista-roster ul li{
  font-family: 'Archivo', sans-serif;
  
}

.link-jugadores li{
  text-decoration: dotted;
  font-weight: bold;
  color: black;
  margin-top: 7%;
}

.link-jugadores li:hover{
  text-decoration: dotted;
  color: #70798C;
}

.dropdown {
  position: relative;
  display: inline-block;

}

.bi-person-circle{
  font-size: 5vw;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #252323;
  font-size: 0.8vw;
  font-family: 'Archivo', sans-serif;
  width: 10vw;
}

#logoutButton{
  background-color: #252323;
  color: #F5F1ED;
  background-color: transparent !important;
  border: transparent;
}

#logoutButton:hover{
  background-color: #F5F1ED;
  color: #252323;
}


.dropdown-content a{
  color: #F5F1ED;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover{
  background-color: #F5F1ED;
  color: #252323 !important;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.botoRegistre {
  font-family: 'Archivo', sans-serif;
  font-size: 2vh;
  font-weight: bold;
  color: #252323;
  padding: 10px;
  text-decoration: none;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  text-shadow: 1px 1px 3px #666666;
  border: solid #252323 3px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#a99985), to(#a99985));
  background: -moz-linear-gradient(top, #a99985, #a99985);
  
}
.botoRegistre:hover {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f1ed), to(#252323));
  background: -moz-linear-gradient(top, #f5f1ed, #252323)
}

.botoRegistre a{
  text-decoration: none;
  color: #ffffff;
}

.register-form {
  height: 60%;
  width: 90%;
  background-color: #70798C;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 50px #000000;
  padding: 50px 35px; 
}

.club-register-form {
  height: 33vw;
  width: 70%;
  background-color: #70798C;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 50px #000000;
  padding: 50px 35px; 
}
.xarxa::placeholder{
  color:#999;
  font-size: 1.5vw;
}

.xarxa{
  background-color:#F5F1ED;
}

form *{
  font-family: 'Archivo', sans-serif;
  font-weight: bold;
  font-size: 2vh;
  border: none;
}
form h3{
  font-family: 'Archivo Black', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 1.7vw;
}


label{
  display: block;
  margin-top: 1%;
  font-size: 1.5vw;
  font-weight: bold;
}
input{
  display: block;
  height: 2.5vw;
  width: 100%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 3vh;
  font-weight: 300;
}

button {
  margin-top: 1rem;
}

.club-info-container{
  margin-top: 8%;
  display: flex;
  flex-wrap: wrap;
}

.club-info-container input{
  height: 3.1vw;
  margin-bottom: 5%;
  background-color: #F5F1ED;
}

@media (max-width: 600px) {
  .register-form {
    max-width: 100%;
    padding: 0 1rem;
    height: 150vw;
  }
}

.info-container{
  width: 100%;
  height: 3vw;
}

.titulos-container{
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;

}

.titulacion{
  width: 100%;
  height: 35%;
  display: flex;
  margin-bottom: 3%;
}

.titulo-container{
  height: 100%;
  width: 60%;
}

.titulo-container input, .a単os-container input{
  background-color: #F5F1ED;
}

.a単os-container{
  margin-top: 0.5%;
  margin-left: 5%;
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
}

.botonsRegistre{
  margin: 1%;
}

.register-roster{
  height: 75%;
  width: 50%;
  background-color: #70798C;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 60%;
  left: 50%;
  border-radius: 10px;
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 50px #000000;
  padding: 50px 35px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.register-roster div{
  margin-bottom: 3%;
}

.fa-container label, .club-container label{
  margin-right: 2%;
}

.fa-container{
  margin-top: 2%;
  width: 80%;
  height: 10%;


}

.club-container{
  width: 80%;
  height: 10%;
}

.trajectoria{
  display: flex;
  width: 100%;
  height: 10%;
}

.trajectoria label,.trajectoria select{
  margin-right: 2%;
}

.register-roster > .botonsRegistre{
  position: absolute;
  top: 85%;
}


.buttons > .bi-star{
  font-size: 7vw;
}

.buttons > .bi-star-fill{
  font-size: 7vw;
}

.bi-star-fill{
  color: #252323;
  font-size: 3vw;
}

.form-container{
  width: 100%;
  height: 90vw;
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.club-form-container{
  width: 100%;
  height: 30vw;
  display: flex;
  justify-content: center;
  margin-top: 3%;
}



.auth-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #333533;
}

.login-container{
  width: 40%;
  height: 60%;
  border: solid black;
  background-color: #F5F1ED;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.register-container{
  width: 40%;
  height: 80%;
  border: solid black;
  background-color: #F5F1ED;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.register-container h1{
  font-family: 'Archivo Black', sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.login-container h1{
  font-family: 'Archivo Black', sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.input-container input{
  width: 70%;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  align-self: center;
  margin-bottom: 1%;
}

.input-container{
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.p{
  color: red;
  font-family: 'Archivo', sans-serif;
  display: flex;
  justify-content: center;
}

.buttons-container{
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

#logo-container{
  width: 70%;
  height: 20%;
  display: flex;
  justify-content: center;
}

.bi-filter{
  color: #000000;
}



@media only screen and ( max-width:800px){


  .form-container{
    width: 100%;
    height: 200vw;
    display: flex;
    justify-content: center;
    margin-top: 3%;
  }

  .input-container input{
    width: 70%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    align-self: center;
    margin-bottom: 5%;
    height: 5vw;
    font-size: 4vw;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #252323;
    font-size: 2vw;
    font-family: 'Archivo', sans-serif;
    width: 28vw;
  }
  .faOption{
    width: 28vw;
    font-family: 'Archivo', sans-serif;
    font-size: 2.3vw;
  }

  .login-container{
    width: 70%;
    height: 60%;
    border: solid black;
    background-color: #F5F1ED;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .register-container{
    width: 75%;
    height: 60%;
    border: solid black;
    background-color: #F5F1ED;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #logoPng{
    width: 50%;
    height: 100%;
  }

  .bi-person-circle{
    color: white;
    font-size: 10vw;
    margin-left: 80%;
  }

  .logo img{
    width: 20vw;
    height: 20vw;
  }

  header{
    height: 20vw;
  }

  .menu-button {
    display: block;
  }

  .menu {
    display: none;
  }

  .bi-three-dots-vertical{
    color: #ffffff;
  }

  .menu.show-menu {
    display: block;
    position: absolute;
    top: 75px;
    width: 20%;
    padding: 0;
    margin: 0;
    right: 0;
    background-color: #F5F1ED;
    z-index: 1;
  }
  .menu.show-menu li {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .menu.show-menu li a{
    color: #252323;
  }

  .roster-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 4fr));
    grid-gap: 15vh;
    width: 90%;
    margin-left: 10%;
  }

  

  .tarjeta-staff{
    margin-right: 0;
    width: 5vw;
  }

  .roster-page{
    height: 100%;
    width: 100%;
    background-color: #DAD2BC;
    display: flex;
    justify-content: center;
  }

  .roster-page h1{
    font-size: 8vw;
  }
  
  .roster-nombre{
    width: 100%;
    height: 5vw;
    color: #252323;
    font-family: 'Archivo Black', sans-serif;
    font-size: 6vw;
    margin-top: 2%;
    margin-bottom: 5%;
  }
  
  .roster-foto{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .roster-foto img{
    height: 70%;
    width: 60%;
    border: solid black;
  }
  
  .roster-redes-sociales{
    margin-top: 1%;
    width: 80%;
    height: 22vw;
    border-radius: 63px 63px 63px 63px;
    -moz-border-radius: 63px 63px 63px 63px;
    -webkit-border-radius: 63px 63px 63px 63px;
    border: 0.1vw solid black;
    background-color: #333533;
  }
  
  .roster-redes-sociales h3{
    display: flex;
    justify-content: center;
    color: #DAD2BC;
    font-family: 'Archivo Black', sans-serif;
    font-size: 5vw;
    margin-top: 1%;
  }
  
  .roster-redes-sociales ul{
    list-style: none;
    margin: 0;
  }
  
  .roster-redes-sociales ul li{
    color: white;
    font-family: 'Archivo', sans-serif;
    margin-top: 1%;
    margin-bottom: 5%;
    font-size: 2.6vw;
  }
  
  .roster-info{
    height: 40%;
    width: 80%;
    border-radius: 63px 63px 63px 63px;
    -moz-border-radius: 63px 63px 63px 63px;
    -webkit-border-radius: 63px 63px 63px 63px;
    background-color: #A99985;
  }
  
  .roster-info h3{
    display: flex;
    justify-content: center;
    color: #F5F1ED;
    font-family: 'Archivo Black', sans-serif;
    margin-top: 3%;
    font-size: 4.5vw;
  }
  
  .roster-info ul li{
    margin-top: 2%;
    font-size: 3vw;
  }

  .clubs-grid {
    margin-top: 2%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 4fr));
    grid-gap: 5vw;
    width: 90%;
  }

  .tarjeta-club{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 20vw;
  }

  .club-header{
    display: flex;
    flex-direction: column-reverse;
  }

  .club-header img{
    align-self: center;
    height: 40vw;
    width: 40vw;
  }

  .club-header h1{
    font-size: 7vw;
  }

  .club-roster {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .club-content{
    padding-top: 0;
  }

  .club-content h2{
    font-size: 5vw;
  }

  .lista-roster h3{
    font-size: 4.5vw;
  }

  .lista-roster ul li{
    font-family: 'Archivo', sans-serif;
    font-size: 3vw;
  }

  .club-card{
    background-color: #333533;
    border-radius: 10px;
    border: 2px solid #252323;
    color: #ffffff;
    font-family: 'Archivo Black', sans-serif;
    height: 20vw;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
  }
  
  .club-card h2{
    font-size: 2vw;
  }
  
  .club-card div{
    height: 80%;
  }

  .fa-container label, .club-container label{
    margin-right: 2%;
    font-size: 3.5vw;
  }
  
  .fa-container{
    width: 80%;
    height: 10%;
  
  
  }
  
  .club-container{
    width: 80%;
    height: 10%;
  }

  form h3{
    font-family: 'Archivo Black', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 4vw;
    margin-top: 2%;
  }

  .titulo-container label{
    font-size: 3.5vw;
  }

  .titulo-container input{
    background-color: #F5F1ED;
    height: 4vw;
  }

  .titulos-container{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
  
  }

  .a単os-container label{
    font-size: 2.5vw;
  }

  .a単os-container select{
    height: 4vw;
  }

  .botonsRegistre button{
    width: 35vw;
    height: 10vw;
    font-size: 2.2vw;
  }

  .xarxes_container{
    height: 50vw;
  }

  .xarxes_container div input{
    height: 6vw;
  }

  .xarxa{
    height: 4vw;
  }

  .xarxa::placeholder{
    font-size: 3vw;
  }

  .titulacion{
    width: 100%;
    height: 25%;
    display: flex;
    margin-bottom: 3%;
  }

  .bi-star-fill{
    color: #252323;
    font-size: 6vw;
  }

  .club-form-container{
    width: 100%;
    height: 120vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
  }

  .club-form-container .botonsRegistre{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
  }

  .club-register-form {
    height: 70vw;
    width: 70%;
    background-color: #70798C;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 50px #000000;
    padding: 8px 8px; 
  }

  .info-container{
    width: 100%;
    height: 15vw;
  }

  .club-info-container input{
    font-size: 3vw;
    height: 5.5vw;
    margin-bottom: 5%;
    background-color: #F5F1ED;
  }
}






















