@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");



header {
  width: 100%; /* ocupa el 100% de ancho de la ventana */
  height: 20vh; /* ocupa el 20% de alto de ventana */
  background-color: #333533;
  font-family: 'Archivo Black', sans-serif;
  color: #ffffff;
}

.logo svg{
  width: 30vh;
  height: 30vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 100%;
}


.menu {
  display: flex;
  list-style: none;
  padding: 0;
  width: 90vh;
  justify-content: space-around;
}



.menu li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 3vh;
}

.profile{
  width: 20vh;
}

.jugador-grid {
  background-color: #333533;
  border-radius: 10px;
  border: 2px solid #202020;
  color: #ffffff;
  font-family: 'Archivo Black', sans-serif;
  padding: 20px;
  height: 20vh;
  display: flex;
  align-items: center;
  margin: 0 auto;
}



.jugador-grid h2 {
  margin-top: 0;
}

.jugador-grid img {
  max-width: 100%;
}

.jugadores-container {
  height: 100%;
  background-color: #D6D6D6;
}

.jugadores-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  
  width: 100%;
  height: 80vh;
}

.settings-menu {

  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1%;
  margin-top: 1%;
}

.buttons {
  background-color: transparent !important;
  border: transparent;
  font-size: 5vh;
  cursor: pointer;
}

.bi-person-circle{
  color: white;
  font-size: 8vh;
}

.user-info{
  display: flex;
  flex-direction: column;
}

.user-photo {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.user-name {
  font-size: 24px;
  margin: 0;
}

.user-club {
  font-size: 18px;
  margin-top: 2%;
  color: #999;
}

.tarjeta-jugador{
  cursor: pointer;
  text-decoration: none;
  height: 20vh;
}









